@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
.nuxt-content p {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem !important;
}

.nuxt-content h3 {
  font-family: 'Poppins', sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 700;
  margin-top: 20px;
  color: rgba(42, 40, 51, 0.908);
}

.nuxt-content pre {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(70, 70, 70, 0.355);
}

.nuxt-content code {
  font-size: 0.85rem !important;
  font-family: 'Source Code Pro', monospace !important;
  font-weight: 400;
}

.nuxt-content code span {
  font-size: 0.85rem !important;
  font-family: 'Source Code Pro', monospace !important;
  font-weight: 400;
}
